# Multiple Linear Regression- Car dataset

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the dataset

In [2]:
dataset=pd.read_csv('CAR.csv')

In [3]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4337 non-null   int64
 1   selling_price  4337 non-null   int64
 2   km_driven      4337 non-null   int64
 3   fuel           4337 non-null   object
 4   seller_type    4337 non-null   object
 5   transmission   4337 non-null   object
 6   owner          4337 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.3+ KB

In [5]:
dataset.describe()

              year  selling_price      km_driven
count  4337.000000   4.337000e+03    4337.000000
mean   2013.094766   5.042743e+05   66223.535624
std       4.208750   5.787121e+05   46657.695779
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.100000e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [6]:
dataset.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

### Split the dataset into independent and Dependent variables

In [7]:
dataset.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [8]:
X=dataset[['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission']]
Y=dataset[['owner']]

### Work with the catagorical data

In [9]:
X=pd.get_dummies(dataset[['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission']],drop_first=True)

In [10]:
X.head()

,year,selling_price,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual
0,2007,60000,70000,0,0,0,1,1,0,1
1,2007,135000,50000,0,0,0,1,1,0,1
2,2012,600000,100000,1,0,0,0,1,0,1
3,2017,250000,46000,0,0,0,1,1,0,1
4,2014,450000,141000,1,0,0,0,1,0,1

## Splitting the dataset into the Training set and Test set
- Random State 20

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,
                                               test_size=.10,
                                              random_state=20)

## Training the Multiple Linear Regression model on the Training set

In [12]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression() 
regressor.fit(X_train.values, Y_train)

ValueError: could not convert string to float: 'First Owner'

## Intercept and Coefficient

In [ ]:
print("Intercept: ", regressor.intercept_)
print("Coefficients:")
list(zip(X, regressor.coef_))

## Predicting the Test set results

In [ ]:
Y_pred_regressor= regressor.predict(X_test.values)
#Predicted values
print("Prediction for test set: {}".format(Y_pred_regressor))

### Calculate RMSE, R-Square

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f"RMSE : {math.sqrt(mean_squared_error(Y_test,Y_pred_regressor))}")
print(f'R- Sqaure : {r2_score(Y_test,Y_pred_regressor)}')

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [ ]:
X_test.head()

In [ ]:
regressor.predict([[2014,70000,1,1,1,1]])